*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

header{
    background-color:skyblue;
    width: 100%;
    background-repeat: repeat;
}

main {
    padding: 10px;
}

.background-image{
    background-image: url('../img/pattern.png');
    background-size: cover;
    width: 600px;
    height: 150px;
    background-repeat: repeat-x;
    padding-top: 40px;
}

.image-logo{
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 200px;
    height: 150px;
    margin-left: 10px;
}

h1 {
    font-size: 50px;
}


.grey-text{
    color: gray;
}

.blue-text{
    color: lightskyblue;
    display: inline-block;
}

.contenitore-foto{
    padding: 20px 0;
}